body{
    background: linear-gradient(0deg, rgba(4, 95, 34, 0.308), rgba(4, 95, 34, 0.308)), url(Images/3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 10px;
}
.form-control:focus {
    box-shadow: none !important;
    border-bottom: 2px solid #fff;
}
button:focus {
    outline: 0;
}

/* #header-start */
.background{
    height: 42rem;
    width: 100%;
    
}
.logo-search{
    width: 60% !important;
    height: 50%;
    margin: 90px auto;
    background-color: rgba(0, 0, 0, 0.308);
    padding-bottom: 80px;
    border-radius: 10px;
    
}
.logo-search h5{
    color: #fff;
}
.logo-search .modal-body{
    color: #fff;
}
.logo-search img{
    width: 200px;
    padding-top: 40px;
}
.logo-area h4 {
    color: #fff;
    font-size: 30px;
    margin-top: 60px;
}
.search-bar{
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: center;
    margin-top: 100px;
}
.search-bar i{
    color: #fff;
}
.search-bar form{
    width: 100%;
     text-align: center;
     display: inline-block;
}
.search-bar input{
    background: transparent !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    border-radius: none !important;
}
.search-bar ::placeholder{
    font-size: 20px;
}


/* surah section */
/* showing-result-top-hide */
.sura-list{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}
.sura-bg{
    background-color: rgba(0, 0, 0, 0.308);
    padding: 65px;
    border-radius: 20px;
    margin-bottom: 30px;
}
div#example_length {
    display: none;
}
/* showing-result-bottom-hide */
div#example_info {
    display: none;
}
/* serach-box-database */
.dataTables_filter{
    color: #fff;
    position: absolute;
    top: -39px;
    left: -100px;
    margin: auto;
}
.dataTables_filter input{
    background: transparent !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    border-radius: none !important;
}
.dataTables_filter input, select, textarea{
    color: #fff!important;
}
/* datatable start */
.dataTable{
    padding: 30px 0;
}
.table-heading th{
    color: #fff;
    padding: 20px 0;
}
.sura-list td{
    color: #fff;
}
.redesign-button-td{
    background-color: rgba(0, 0, 0, 0.308);
    border: none;
    color: #fff;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    width: 200px;
    transition: 0.3s;
}
.redesign-button-td:hover{
    transform: scale(1.2);
    background-color: #837A38;
}
/* pagination */
.page-link{
    background-color: rgba(0, 0, 0, 0.308);
    border: none;
    color: #fff;
    margin: 10px 4px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s;
}
.page-link:hover{
    background-color: #837A38;
    color: #fff;
}
.active a{
    background-color: #837A38 !important;
    color: #fff !important;
}
.page-item.disabled .page-link {
    color: #fff;
    pointer-events: none;
    cursor: auto;
    background-color: rgba(0, 0, 0, 0.308);
    border-color: #dee2e6;
}
.page-link:focus {
    box-shadow: none;
}
/* modal-style */
.modal-content{
    background-color: rgb(15, 60, 50);
}
.close{
    opacity: 0.6;
}
.modal-footer button{
        background-color: rgba(0, 0, 0, 0.308);
        border: none;
        color: #fff;
        margin: 10px 4px;
        padding: 10px 15px;
        border-radius: 10px;
        transition: 0.3s;
}
.modal-footer button:hover{
    background-color: #837A38;
    color: #fff;
    transform: scale(1.1);
}
.close span{
    color: #fff;
}
/* footer  */
.footer-bg{
    background-color: rgba(13, 43, 36, 0.856);
    text-align: center;
    border-radius: 20px;
}
.footer p{
    display: inline-block;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}
/* translator */
select.goog-te-combo {
    background: transparent;
    padding: 10px 5px;
    border-radius: 15px;
}
div#google_translate_element {
    display: block;
    text-align: right;
    margin: 10px 20px;
    position: fixed;
    right: 0;
    top: 0;
}
select.goog-te-combo {
    background: rgba(13, 43, 36, 0.856);
    color: #fff;
}
